header{
  height: 100px;
  display: flex;
  flex-direction: row;
  background-color: #24292e;
  border-bottom: red 3px solid;
  font-size: 20pt;
}
.logo{
  width: 50%;
  color: white;
  text-align: center;
}
.logo h2{
  font-style: oblique;
  padding-bottom: 10px;
}

.navigation{
  width: 50%;
}
.navigation ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.navigation ul li{
  list-style: none;
}
.navigation ul li a{
  text-decoration: none;
  color: white;
}
.navigation ul li:hover{
  background: #e9ebee;
}
.navigation ul li a:hover{
  color: blue;
}
.contact{
  background-color: #221818;
  color:white;

}
.feed input{
  background-color: grey;
  color:black;
}
.feed textarea{
  background-color: grey;
color:black;

}
footer{
  background: #4267b2;
  display: flex;
  flex-direction: column;
  height:100px;
  border-top: red 3px solid;
}
.foot{
  height: 50%;
  text-align: center;
}
.foot h4{
  color: white;
}
i{
  padding: 15px;
}
.fa-facebook{
  color:white;
}
.fa-instagram{
  color:rgb(255, 51, 153);
}
.fa-google-plus{
  color:red;
}
.fa-twitter{
  color: rgb(204, 230, 255);
}
.copy{
  height: 50%;
  text-align: center;
  color: white;
}
.bio{
  padding:40px;
  text-align: justify;
  font-size: 21pt;
  background-color:#221818;
color:white;
}
.part1{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding:0px 20px;
}
.part2{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding:0px 20px;


}
.Education{
  margin-left: 450px;
}
.Experiences{
  margin-left: 725px;
  }
.cv{
  padding:60px 0px;
  font-size: 15pt;
  background-color: #221818;
  color: white;

}
